@import url('https://fonts.googleapis.com/css?family=Raleway');
*>*
{
    font-family: "Raleway";
    margin: 0;
}
.MyProfile
{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.pHeader
{
    font-family: "Raleway";
    font-weight: 1000;
    text-align: center;
    
}
.name
{
    padding-top: 1em;
    color: rgb(151, 151, 151);
}

.pfp
{
    padding-top: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bioInfo
{
    align-items: center;
    text-align: left;

}
.information {
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
.Heads1
{
    font-weight: 700;
    padding-bottom: 1em;
    color: rgb(151, 151, 151);
}
.Heads2 {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 2em;
    color: rgb(151, 151, 151);
}
.Heads3
{
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 2em;
    color: rgb(151, 151, 151);
}
.restInfo
{
    display: flex;
    justify-content: center;
    text-align: left;
    padding-top: 2em;
    padding-right: 0em;
    font-size: large;
}
.rectangle1 {
    background-color: #fe4d4d;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
}

.rectangle2 {
    background-color: #7fd8fc;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
}
.Heads3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

.cup-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.cup-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.number {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
}