@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>* {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root {
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    text-align: center;
}

.board .leaderboard {
    margin-bottom: 1em;
}

.board .duration {
    display: flex;
    justify-content: center;
}

.board .duration>button {
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration>button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.board .rank
{
    font-weight: bolder;
}
.active {
    background-color: var(--color-dark);
    color: var(--color-light);
}

#top .topThree
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    gap: 3em;
}

.topThree
{
    padding-bottom: 10%;
    padding-left: 2em;
}
.table {
    display: flex;
    justify-content: center;
}

#team .indB {
    display: flex;
    padding-top: .5em;
    width: 20em;
}
.text-dark {
    color: var(--color-dark);
}